*{
    margin: 0;
    padding: 0;;
}
.head {
    text-align: center;
    padding: 3%;
    font-size: 130%;
    background-color: indigo;
}

h1 {
    color:white;
}
.main {
    text-align: center;
    padding: 3%;
    width:100%;
    background: linear-gradient(to right,blue,rgb(123, 202, 226),blue,rgb(123, 202, 226));    
}

.g1{
    display: inline-block;
    float:inherit;
    margin:1%;
    height: 6vh;
}
#task{
    width:40%;
}
#add{
    width:10%;
}
#list{
display: inline-block;
margin-right: 40%;
font-size: 140%;
color:black;
}
.footer {
    text-align: center;
    height:30vh;
    padding:3%;
    font-size: 130%;
}
#add:hover{
    background-color: black;
    color: white;
}